In [9]:
!which python

/home/hb/anaconda3/envs/pp_predict/bin/python

In [11]:
import sys

In [12]:
sys.path.append('/home/hb/anaconda3/envs/pp_predict/lib/python3.9/site-packages')

In [13]:
import pandas as pd
import missingno as msno

In [123]:
df1 = pd.read_excel('DEPOD.xls', header = 0)
df1

,Substrate accession number,Substrate Gene name/s,Phosphosites and 5 aminoa cid window around it,Phosphorylating protein kinases,Bioassay/s,Literature support,Source database,Dephosphorylation site and 5 amino acid window around it,Dephosphorylating protein phosphatases,Literature support.1
0,O00168,FXYD1,S83_EEGTFRSsIRRLSTR,PKA_group,LTP,10556585,PhosphoELM,s88_SIRRLsTRRR,PPP1CC,26668322
1,O00168,FXYD1,"S83_EEGTFRSsIRRLSTR, S88_RSSIRRLsTRRR",PRKACA,NaN,NaN,PhosphoSitePlus,s88_SIRRLsTRRR,PPP1CC,26668322
2,O00168,FXYD1,"S83_EEGTFRSsIRRLSTR, S88_RSSIRRLsTRRR",PRKCA,NaN,NaN,PhosphoSitePlus,s88_SIRRLsTRRR,PPP1CC,26668322
3,O00168,FXYD1,"S82_EEEGTFRsSIRRLST, S83_EEGTFRSsIRRLSTR, S88_...",Unknown,"LTP, in vitro, in vivo","15621037, 16155364, 20166139, 7999001","HPRD, PhosphoELM",s88_SIRRLsTRRR,PPP1CC,26668322
4,O00401,"N-WASP, WASL","Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,"in vitro, in vivo","16199863, 17389395, 18452278, 18707149, 194156...",HPRD,y256_TSKVIyDFIEK,PTPN2,16293614
...,...,...,...,...,...,...,...,...,...,...
2433,Q9UKK9,NUDT5,"S10_SQEPTESsQNGKQYI, S3_MEsQEPTESS, S9_ESQEPTE...",Unknown,"HTP, in vivo","15592455, 19413330, 20068231","HPRD, PhosphoELM",NaN,NaN,NaN
2434,Q7Z2E3,APTX,T125_AKNPGLEtHRKRKRS,PRKCG,NaN,NaN,PhosphoSitePlus,NaN,NaN,NaN
2435,Q7Z2E3,APTX,"S118_IVEFEEEsKNPGLET, S132_THRKRKRsGNSDSIE, S3...",Unknown,in vivo,"19651622, 20068231",HPRD,NaN,NaN,NaN
2436,Q9BRF8,CPPED1,T17_FHRARGRtLAAFPAE,Unknown,in vivo,18452278,HPRD,NaN,NaN,NaN
2437,Q86TP1,PRUNE,S399_NSLISGLsQDEEDPP,Unknown,in vivo,18077418,HPRD,NaN,NaN,NaN

In [124]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438 entries, 0 to 2437
Data columns (total 10 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Substrate accession number                                2438 non-null   object
 1   Substrate Gene name/s                                     2431 non-null   object
 2   Phosphosites and 5 aminoa cid window around it            2429 non-null   object
 3   Phosphorylating protein kinases                           2429 non-null   object
 4   Bioassay/s                                                1522 non-null   object
 5   Literature support                                        1524 non-null   object
 6   Source database                                           2429 non-null   object
 7   Dephosphorylation site and 5 amino acid window around it  1620 non-null   object
 8   Dephosphorylating protein phosphatases                    2214 non-null   object
 9   Literature support.1                                      2214 non-null   object
dtypes: object(10)
memory usage: 190.6+ KB

In [18]:
df1.iloc[:,2].unique()

array(['S83_EEGTFRSsIRRLSTR', 'S83_EEGTFRSsIRRLSTR, S88_RSSIRRLsTRRR',
       'S82_EEEGTFRsSIRRLST, S83_EEGTFRSsIRRLSTR, S88_RSSIRRLsTRRR, T79_EPDEEEGtFRSSIRR',
       ...,
       'S118_IVEFEEEsKNPGLET, S132_THRKRKRsGNSDSIE, S30_RQDSRHQsIRLPHLE',
       'T17_FHRARGRtLAAFPAE', 'S399_NSLISGLsQDEEDPP'], dtype=object)

In [33]:
df1 = df1.dropna(subset=['Phosphosites and 5 aminoa cid window around it'])
df1 = df1.dropna(subset=['Phosphorylating protein kinases'])
df1 = df1[df1['Phosphorylating protein kinases'] != 'Unknown']
df2 = df1[df1['Source database'] != 'PhosphoSitePlus']

In [34]:
df2

,Substrate accession number,Substrate Gene name/s,Phosphosites and 5 aminoa cid window around it,Phosphorylating protein kinases,Bioassay/s,Literature support,Source database,Dephosphorylation site and 5 amino acid window around it,Dephosphorylating protein phosphatases,Literature support.1
0,O00168,FXYD1,S83_EEGTFRSsIRRLSTR,PKA_group,LTP,10556585,PhosphoELM,s88_SIRRLsTRRR,PPP1CC,26668322
4,O00401,"N-WASP, WASL","Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,"in vitro, in vivo","16199863, 17389395, 18452278, 18707149, 194156...",HPRD,y256_TSKVIyDFIEK,PTPN2,16293614
14,O00429,"DNM1L, DRP1",S637_VPVARKLsAREQRDC,PKA_group,LTP,17553808,PhosphoELM,s637 _VARKLsAREQR,"PPP3CA, PPP3CB, PPP3CC","17721437, 18838687"
20,O14745,"NHERF1, SLC9A3R1",S290_PALVRSAsSDTSEEL,GRK-6,LTP,10446210,PhosphoELM,"340_340, s339_AHQKRSSKRAP HQKRSsKRAPQ","PPP2CA, PPP2CB, PTP4A3","22301917,22523604, 25897829"
21,O14745,"NHERF1, SLC9A3R1",S290_PALVRSAsSDTSEEL,GRK6,in vivo,"15302935, 18088087, 18452278, 18669648, 194133...",HPRD,"340_340, s339_AHQKRSSKRAP HQKRSsKRAPQ","PPP2CA, PPP2CB, PTP4A3","22301917,22523604, 25897829"
...,...,...,...,...,...,...,...,...,...,...
2377,P18669,PGAM1,"S118_QVKIWRRsYDVPPPP, S23_WNLENRFsGWYDADL",PAK1,LTP,12189148,"PhosphoELM, PhosphoSitePlus",NaN,NaN,NaN
2409,Q15750,TAB1,"S423_QMVNGAHsASTLDEA, S438_TPTLTNQsPTLTLQS, S4...",MAPK14,LTP,14592977,"PhosphoELM, PhosphoSitePlus",NaN,NaN,NaN
2413,P36873,PPP1CC,"T307_EKKKPNAtRPVTPPR, T318_TPPRGMItKQAKK",NEK2,LTP,10880350,"PhosphoELM, PhosphoSitePlus",NaN,NaN,NaN
2425,Q12959,DLG1,S232_ITLERGNsGLGFSIA,CAMK2A,"in vitro, in vivo",12933808,HPRD,NaN,NaN,NaN
2428,Q12959,DLG1,S232_ITLERGNsGLGFSIA,CaM-KII_group,LTP,12933808,PhosphoELM,NaN,NaN,NaN

In [49]:
df2.head(1)

,Substrate accession number,Substrate Gene name/s,Phosphosites and 5 aminoa cid window around it,Phosphorylating protein kinases,Bioassay/s,Literature support,Source database,Dephosphorylation site and 5 amino acid window around it,Dephosphorylating protein phosphatases,Literature support.1
0,O00168,FXYD1,S83_EEGTFRSsIRRLSTR,PKA_group,LTP,10556585,PhosphoELM,s88_SIRRLsTRRR,PPP1CC,26668322

In [45]:
PAK1 = dfPhosphoSitePlus['Kinase'] == 'PAK1'
PAK1_P18669 = dfPhosphoSitePlus[PAK1]['UniProt'] == 'P18669'
dfPhosphoSitePlus[PAK1][PAK1_P18669]

        EPSD ID UniProt Position Kinase        Source
9194  EP0010264  P18669      S23   PAK1  Experimental
9219  EP0010264  P18669     S118   PAK1  Experimental

In [52]:
df3 = df2.iloc[:,[0,2,3]]
df3

,Substrate accession number,Phosphosites and 5 aminoa cid window around it,Phosphorylating protein kinases
0,O00168,S83_EEGTFRSsIRRLSTR,PKA_group
4,O00401,"Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1
14,O00429,S637_VPVARKLsAREQRDC,PKA_group
20,O14745,S290_PALVRSAsSDTSEEL,GRK-6
21,O14745,S290_PALVRSAsSDTSEEL,GRK6
...,...,...,...
2377,P18669,"S118_QVKIWRRsYDVPPPP, S23_WNLENRFsGWYDADL",PAK1
2409,Q15750,"S423_QMVNGAHsASTLDEA, S438_TPTLTNQsPTLTLQS, S4...",MAPK14
2413,P36873,"T307_EKKKPNAtRPVTPPR, T318_TPPRGMItKQAKK",NEK2
2425,Q12959,S232_ITLERGNsGLGFSIA,CAMK2A
2428,Q12959,S232_ITLERGNsGLGFSIA,CaM-KII_group

In [59]:
df3.columns = ['UniProt', 'Position', 'Kinase']
df3.head(3)

   UniProt                                    Position     Kinase
0   O00168                         S83_EEGTFRSsIRRLSTR  PKA_group
4   O00401  Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG       ABL1
14  O00429                        S637_VPVARKLsAREQRDC  PKA_group

In [62]:
df3['Position'] = df3['Position'].apply(lambda x:x.split(','))
df3 = df3.explode('Position')
df3

/tmp/ipykernel_1176318/2792510677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Position_'] = df3['Position'].apply(lambda x:x.split(','))

,UniProt,Position,Kinase,Position_
0,O00168,S83_EEGTFRSsIRRLSTR,PKA_group,S83_EEGTFRSsIRRLSTR
4,O00401,"Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,Y175_EITTNRFyGPQVNNI
4,O00401,"Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,Y256_RETSKVIyDFIEKTG
14,O00429,S637_VPVARKLsAREQRDC,PKA_group,S637_VPVARKLsAREQRDC
20,O14745,S290_PALVRSAsSDTSEEL,GRK-6,S290_PALVRSAsSDTSEEL
...,...,...,...,...
2409,Q15750,"S423_QMVNGAHsASTLDEA, S438_TPTLTNQsPTLTLQS, S4...",MAPK14,T431_ASTLDEAtPTLTNQS
2413,P36873,"T307_EKKKPNAtRPVTPPR, T318_TPPRGMItKQAKK",NEK2,T307_EKKKPNAtRPVTPPR
2413,P36873,"T307_EKKKPNAtRPVTPPR, T318_TPPRGMItKQAKK",NEK2,T318_TPPRGMItKQAKK
2425,Q12959,S232_ITLERGNsGLGFSIA,CAMK2A,S232_ITLERGNsGLGFSIA
2428,Q12959,S232_ITLERGNsGLGFSIA,CaM-KII_group,S232_ITLERGNsGLGFSIA

In [70]:
df3 = df4
# df3.drop(['Position'], axis=1, inplace=True)
df3.columns = ['UniProt','Kinase','Position']
df3.head(3)

  UniProt     Kinase               Position
0  O00168  PKA_group    S83_EEGTFRSsIRRLSTR
4  O00401       ABL1   Y175_EITTNRFyGPQVNNI
4  O00401       ABL1   Y256_RETSKVIyDFIEKTG

In [74]:
df3.head(3)

  UniProt     Kinase                  Position
0  O00168  PKA_group    [S83, EEGTFRSsIRRLSTR]
4  O00401       ABL1   [Y175, EITTNRFyGPQVNNI]
4  O00401       ABL1  [ Y256, RETSKVIyDFIEKTG]

In [79]:
df3['Position'][0][0]

'S83'

In [83]:
df3

     UniProt         Kinase                  Position Position_
0     O00168      PKA_group    [S83, EEGTFRSsIRRLSTR]       S83
4     O00401           ABL1   [Y175, EITTNRFyGPQVNNI]       S83
4     O00401           ABL1  [ Y256, RETSKVIyDFIEKTG]       S83
14    O00429      PKA_group   [S637, VPVARKLsAREQRDC]       S83
20    O14745          GRK-6   [S290, PALVRSAsSDTSEEL]       S83
...      ...            ...                       ...       ...
2409  Q15750         MAPK14  [ T431, ASTLDEAtPTLTNQS]       S83
2413  P36873           NEK2   [T307, EKKKPNAtRPVTPPR]       S83
2413  P36873           NEK2    [ T318, TPPRGMItKQAKK]       S83
2425  Q12959         CAMK2A   [S232, ITLERGNsGLGFSIA]       S83
2428  Q12959  CaM-KII_group   [S232, ITLERGNsGLGFSIA]       S83

[3183 rows x 4 columns]

In [94]:
# df3['Position'] = df3['Position'].apply(lambda x:x.split('_'))\
# for i in range(len(df3)):
#     df3['Position_'][i]== df3['Position'][i][0]
# df3['Position_'] = df3['Position'][0][0]

df3['Position_'] = df3['Position'].apply(lambda x : x[0])

In [96]:
df3['Position'] = df3['Position_']

In [100]:
# df3.drop(['Position_'], axis=1, inplace=True)
df3.head(3)

  UniProt     Kinase Position
0  O00168  PKA_group      S83
4  O00401       ABL1     Y175
4  O00401       ABL1     Y256

In [102]:
df3 = df3[['UniProt', 'Position', 'Kinase']]
dfDEPOD = df3
dfDEPOD

     UniProt Position         Kinase
0     O00168      S83      PKA_group
4     O00401     Y175           ABL1
4     O00401     Y256           ABL1
14    O00429     S637      PKA_group
20    O14745     S290          GRK-6
...      ...      ...            ...
2409  Q15750     T431         MAPK14
2413  P36873     T307           NEK2
2413  P36873     T318           NEK2
2425  Q12959     S232         CAMK2A
2428  Q12959     S232  CaM-KII_group

[3183 rows x 3 columns]

In [122]:
df_merge = pd.merge(dfP, dfDEPOD)
df_merge

    UniProt Position  Kinase
0    P05198      S49     HRI
1    Q9UQM7     T286  CAMK2A
2    Q15796     S110  CAMK2A
3    P09619    Y1009  PDGFRB
4    P06241      Y28  PDGFRB
..      ...      ...     ...
174  Q13480     Y285    EGFR
175  P15311     Y146    EGFR
176  P02730      Y21     LYN
177  P29350     Y536     LYN
178  P46527      Y88     LYN

[179 rows x 3 columns]

In [113]:
dfDEPOD.reset_index(inplace=True)

In [112]:
dfP.reset_index(inplace=True)

In [103]:
# df = pd.concat([dfDEPOD,dfP])
# df = df.reset_index(drop=True) # 인덱스 초기화
 
# df_grp = df.groupby(df.columns.tolist()) # 전체 열 비교
# df_di = df_grp.groups # 딕셔너리로 만들기 
 
# idx = [x[0] for x in df_di.values() if len(x) == 1] # 인덱스 검토
# df.loc[idx,:] # Same as df.reindex(idx)

      UniProt Position  Kinase
11119  A0MZ67     S101    PAK1
11117  A0MZ67     S249    PAK1
9351   A1KXE4      T57    CDK2
6301   A1X283     Y508     Src
10094  A2A9C3    S3230    mTOR
...       ...      ...     ...
11863  Q9Z2A0     T516    PDK1
7446   Q9Z2D6      S80   HIPK2
6637   Q9Z2R9     T483     HRI
6636   Q9Z2R9     T485     HRI
11251  Q9Z2Y3     S117  CAMK2A

[14982 rows x 3 columns]

In [104]:
col = list(dfP.columns)

In [57]:
dfP = dfPhosphoSitePlus.iloc[:,[1,2,3]]
dfP

      UniProt Position Kinase
0      Q01986     S298   PAK2
1      Q9WTQ1     S203   PAK2
2      P01237     S206   PAK2
3      P05198      S52    HRI
4      P05198      S49    HRI
...       ...      ...    ...
12281  O14974     S910  NuaK1
12282  O95835     S464  NuaK1
12283  O15027     S668   ULK2
12284  A2RUS2     S472   ULK2
12285  A2RUS2     S490   ULK2

[12286 rows x 3 columns]

In [53]:
dfPhosphoSitePlus

         EPSD ID UniProt Position Kinase        Source
0      EP0021246  Q01986     S298   PAK2  Experimental
1      EP0087333  Q9WTQ1     S203   PAK2  Experimental
2      EP0006440  P01237     S206   PAK2  Experimental
3      EP0007082  P05198      S52    HRI  Experimental
4      EP0007082  P05198      S49    HRI  Experimental
...          ...     ...      ...    ...           ...
12281  EP0001211  O14974     S910  NuaK1  Experimental
12282  EP0006005  O95835     S464  NuaK1  Experimental
12283  EP0001230  O15027     S668   ULK2  Experimental
12284  EP0134296  A2RUS2     S472   ULK2  Experimental
12285  EP0134296  A2RUS2     S490   ULK2  Experimental

[12286 rows x 5 columns]

In [25]:

dfPhosphoSitePlus = pd.read_csv('/home/hb/python/pp_predcition/preprocessing/data/PhosphoSitePlus.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPhosphoSitePlus) #실험데이터
dfPhosphoSitePlus.info()

         EPSD ID UniProt Position Kinase        Source
0      EP0021246  Q01986     S298   PAK2  Experimental
1      EP0087333  Q9WTQ1     S203   PAK2  Experimental
2      EP0006440  P01237     S206   PAK2  Experimental
3      EP0007082  P05198      S52    HRI  Experimental
4      EP0007082  P05198      S49    HRI  Experimental
...          ...     ...      ...    ...           ...
12281  EP0001211  O14974     S910  NuaK1  Experimental
12282  EP0006005  O95835     S464  NuaK1  Experimental
12283  EP0001230  O15027     S668   ULK2  Experimental
12284  EP0134296  A2RUS2     S472   ULK2  Experimental
12285  EP0134296  A2RUS2     S490   ULK2  Experimental

[12286 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12286 entries, 0 to 12285
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   EPSD ID   12286 non-null  object
 1   UniProt   12286 non-null  object
 2   Position  12286 non-null  object
 3   Kinase    12286 non-null  object
 4   Source    12286 non-null  object
dtypes: object(5)
memory usage: 480.0+ KB