# 0323 회의내용 
1. phosphoELM 에서 _group 으로 나오는 것을 처리할 수 있을만한 단서 검색
2. 딱히 나오지 않는다면 ELM 은 빼는 것도 생각해봐야 할듯
3. 이후 database source 별 공통되는 것을 기준으로 각 source 의 공통되지 않는 것을 test 로 해보는 방안을 생각하되, size 확인 후 다시 의논

## 1 & 2 phosphoELM 
_group에 대한 단서는 찾기 힘들듯

## 3. 모든 Database 통합 후 중복제거하여 dataset 만들기
- Postmod
- PhosphoELM -> 제외
- PhosphoNetwork(comKSR)
- PhosphositePlus
- HPRD 사이트 접근 불가로 인해 1저자에게 메일은 보내놓은 상태. 일단은 DEPOD 데이터 이용.

In [1]:
!which python

/home/hb/anaconda3/envs/pp_predict/bin/python

In [ ]:
dfPostMod = pd.read_csv('./PostMod.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPostMod.head()) #실험데이터 2816개
          #
          #PostMod by using Phospho.ELM database
dfPhosphoSitePlus = pd.read_csv('./PhosphoSitePlus.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPhosphoSitePlus.head()) #실험데이터

          
dfPhosphoELM = pd.read_csv('./Phospho.ELM.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPhosphoELM.head()) #실험데이터


dfPhosphoNetworks = pd.read_csv('./PhosphoNetworks.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPhosphoNetworks.head()) #실험데이터 3274개 UniProt와 Uniprot.1이 다르므로 kinase와 substrate로 구분가능할듯 
                  #datasets were generated from a collaborative project of 
                  #Drs. Heng Zhu, Jin Zhang, and Jiang Qian's labs 

dfDEPOD = pd.read_csv('./DEPOD.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfDEPOD.head()) #실험데이터 데이터개수 265개
        
dfPhosphoPICK = pd.read_csv('./PhosphoPICK.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPhosphoPICK.head()) #예측 데이터 20209개 substrate에 대한 각각의 kinase별 p-value제공


dfNetworKIN = pd.read_csv('./NetworKIN.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfNetworKIN.head()) #예측데이터 


dfGPS = pd.read_csv('./GPS.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfGPS.head()) #예측데이터
dfEPSD = pd.read_csv('./EPSD.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfEPSD.head())
dfGPSbench = pd.read_excel('./GPS5_benchmarkdata.xlsx',header = 3)
display(dfEPSD.head())

In [5]:
import os
import pandas as pd
os.getcwd()

'/home/hb/python/pp_prediction/preprocessing'

In [14]:
PATH = './data/experimental_data/'

In [15]:
# Postmod load
dfPM = pd.read_csv(PATH + 'PostMod.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPM.head(3)) #실험데이터 2816개

     EPSD ID UniProt Position   Kinase        Source
0  EP0001281  O15162      Y69  Abl;Src  Experimental
1  EP0001281  O15162      Y74  Abl;Src  Experimental
2  EP0001340  O15350      Y99      Abl  Experimental

In [257]:
# HPRD 사이트 접근 불가로 인해 1저자에게 메일은 보내놓은 상태. 일단은 DEPOD 데이터 이용. load
dfHPRD = pd.read_csv(PATH + 'DEPOD_HPRD.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfHPRD.head(3)) #실험데이터

,Substrate accession number,substrate,phosphosites,kinase,Bioassay/s,Literature support,Source database
0,O00401,"N-WASP, WASL","Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,"in vitro, in vivo","16199863, 17389395, 18452278, 18707149, 194156...",HPRD
1,O14745,"NHERF1, SLC9A3R1",S290_PALVRSAsSDTSEEL,GRK6,in vivo,"15302935, 18088087, 18452278, 18669648, 194133...",HPRD
2,O14920,"IKBKB, IKKB","S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",CHUK,"in vitro, in vivo","10022904, 10195894, 10779355, 9689078",HPRD

In [21]:
# Postmod load
dfPM = pd.read_csv(PATH + 'PostMod.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPM.head(3)) #실험데이터 2816개

# PhosphoNetwork(comKSR) load
dfCK = pd.read_csv(PATH +'phophosnetwork_comKSI.csv',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfCK.head(3)) #실험데이터

# PhosphositePlus load
dfPPSP = pd.read_csv(PATH +'PhosphoSitePlus.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPPSP.head(3)) #실험데이터

# HPRD 사이트 접근 불가로 인해 1저자에게 메일은 보내놓은 상태. 일단은 DEPOD 데이터 이용. load
dfHPRD = pd.read_csv(PATH + 'DEPOD_HPRD.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfHPRD.head(3)) #실험데이터

     EPSD ID UniProt Position   Kinase        Source
0  EP0001281  O15162      Y69  Abl;Src  Experimental
1  EP0001281  O15162      Y74  Abl;Src  Experimental
2  EP0001340  O15350      Y99      Abl  Experimental

  Kinase Substrate  Score
0   AAK1      SOX2   1.79
1   ABL2       CAT    100
2   ABL2       CBL  46.65

     EPSD ID UniProt Position Kinase        Source
0  EP0021246  Q01986     S298   PAK2  Experimental
1  EP0087333  Q9WTQ1     S203   PAK2  Experimental
2  EP0006440  P01237     S206   PAK2  Experimental

,Substrate accession number,substrate,phosphosites,kinase,Bioassay/s,Literature support,Source database
0,O00401,"N-WASP, WASL","Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,"in vitro, in vivo","16199863, 17389395, 18452278, 18707149, 194156...",HPRD
1,O14745,"NHERF1, SLC9A3R1",S290_PALVRSAsSDTSEEL,GRK6,in vivo,"15302935, 18088087, 18452278, 18669648, 194133...",HPRD
2,O14920,"IKBKB, IKKB","S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",CHUK,"in vitro, in vivo","10022904, 10195894, 10779355, 9689078",HPRD

In [289]:

# HPRD 사이트 접근 불가로 인해 1저자에게 메일은 보내놓은 상태. 일단은 DEPOD 데이터 이용. load
dfHPRD = pd.read_csv(PATH + 'DEPOD_HPRD.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfHPRD.head(3)) #실험데이터

dfHPRD = dfHPRD.iloc[:,[0,1,2,3,6]]

dfHPRD.columns = ['UniProt','substrate', 'Phosphosites', 'Kinase', 'Source database']
dfHPRD.head(3)

,Substrate accession number,substrate,phosphosites,kinase,Bioassay/s,Literature support,Source database
0,O00401,"N-WASP, WASL","Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,"in vitro, in vivo","16199863, 17389395, 18452278, 18707149, 194156...",HPRD
1,O14745,"NHERF1, SLC9A3R1",S290_PALVRSAsSDTSEEL,GRK6,in vivo,"15302935, 18088087, 18452278, 18669648, 194133...",HPRD
2,O14920,"IKBKB, IKKB","S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",CHUK,"in vitro, in vivo","10022904, 10195894, 10779355, 9689078",HPRD

,UniProt,substrate,Phosphosites,Kinase,Source database
0,O00401,"N-WASP, WASL","Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,HPRD
1,O14745,"NHERF1, SLC9A3R1",S290_PALVRSAsSDTSEEL,GRK6,HPRD
2,O14920,"IKBKB, IKKB","S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",CHUK,HPRD

In [40]:
dfEPSD = pd.read_csv('./data/EPSD.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfEPSD.head())

,EPSD ID,UniProt ID,AA,Position,Source,Reference
0,EP0096278,A0A021WW64,S,159,Exp.,27794539
1,EP0096278,A0A021WW64,S,173,Exp.,27794539; 21082442; 19060867; 30418626
2,EP0096278,A0A021WW64,T,201,Exp.,19429919; 21082442; 21081558; 19060867; 228179...
3,EP0096278,A0A021WW64,S,207,Exp.,19060867; 30418626; 21082442
4,EP0096279,A0A023GPV6,S,5,Exp.,27794539

In [39]:
EPSDID = dfEPSD.iloc[:,[0,1]]
EPSDID.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=False)
EPSDID

           EPSD ID  UniProt ID
0        EP0096278  A0A021WW64
4        EP0096279  A0A023GPV6
5        EP0096280  A0A023GRW3
12       EP0096281  A0A023PZB3
13       EP0096282  A0A023PZG4
...            ...         ...
1616796  EP0209322      Z4YLR9
1616797  EP0209323      Z4YM84
1616801  EP0209324      Z4YMB8
1616802  EP0209325      Z4YN06
1616803  EP0209326      Z4YN62

[209326 rows x 2 columns]

In [73]:
display(dfEPSD.head())
dfHPRD.head(3)

,EPSD ID,UniProt ID,AA,Position,Source,Reference
0,EP0096278,A0A021WW64,S,159,Exp.,27794539
1,EP0096278,A0A021WW64,S,173,Exp.,27794539; 21082442; 19060867; 30418626
2,EP0096278,A0A021WW64,T,201,Exp.,19429919; 21082442; 21081558; 19060867; 228179...
3,EP0096278,A0A021WW64,S,207,Exp.,19060867; 30418626; 21082442
4,EP0096279,A0A023GPV6,S,5,Exp.,27794539

,UniProt,substrate,Phosphosites,Kinase,Source database
0,O00401,"N-WASP, WASL","Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,HPRD
1,O14745,"NHERF1, SLC9A3R1",S290_PALVRSAsSDTSEEL,GRK6,HPRD
2,O14920,"IKBKB, IKKB","S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",CHUK,HPRD

In [290]:
dfHPRD.loc[:,'EPSD_ID'] = 0
dfHPRD

,UniProt,substrate,Phosphosites,Kinase,Source database,EPSD_ID
0,O00401,"N-WASP, WASL","Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,HPRD,0
1,O14745,"NHERF1, SLC9A3R1",S290_PALVRSAsSDTSEEL,GRK6,HPRD,0
2,O14920,"IKBKB, IKKB","S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",CHUK,HPRD,0
3,O14920,"IKBKB, IKKB","C179_ELDQGSLcTSFVGTL, S670_SKVRGPVsGSPDSMN, S6...",IKBKB,HPRD,0
4,O14920,"IKBKB, IKKB","S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",MAP3K7,HPRD,0
...,...,...,...,...,...,...
220,Q9Y5B0,CTDP1,"S575_AGESLDQsMEEEEEE, S740_TKAQRENsPAAFPDR",CSNK2A2,HPRD,0
221,Q9Y5B0,CTDP1,"S575_AGESLDQsMEEEEEE, S740_TKAQRENsPAAFPDR",CSNK2B,HPRD,0
222,O60825,PFKFB2,S466_PVRMRRNsFTPLSSS,PRKAA2,HPRD,0
223,O60825,PFKFB2,T475_TPLSSSNtIRRPRNY,PRKCA,HPRD,0
224,Q12959,DLG1,S232_ITLERGNsGLGFSIA,CAMK2A,HPRD,0

In [291]:
dfHPRD = dfHPRD.iloc[:,[5,0,2,3,4]]

In [292]:
dfHPRD.loc[:,'Position'] = 0
dfHPRD

,EPSD_ID,UniProt,Phosphosites,Kinase,Source database,Position
0,0,O00401,"Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,HPRD,0
1,0,O14745,S290_PALVRSAsSDTSEEL,GRK6,HPRD,0
2,0,O14920,"S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",CHUK,HPRD,0
3,0,O14920,"C179_ELDQGSLcTSFVGTL, S670_SKVRGPVsGSPDSMN, S6...",IKBKB,HPRD,0
4,0,O14920,"S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",MAP3K7,HPRD,0
...,...,...,...,...,...,...
220,0,Q9Y5B0,"S575_AGESLDQsMEEEEEE, S740_TKAQRENsPAAFPDR",CSNK2A2,HPRD,0
221,0,Q9Y5B0,"S575_AGESLDQsMEEEEEE, S740_TKAQRENsPAAFPDR",CSNK2B,HPRD,0
222,0,O60825,S466_PVRMRRNsFTPLSSS,PRKAA2,HPRD,0
223,0,O60825,T475_TPLSSSNtIRRPRNY,PRKCA,HPRD,0
224,0,Q12959,S232_ITLERGNsGLGFSIA,CAMK2A,HPRD,0

In [293]:
dfHPRD.columns = ['EPSD_ID', 'Uniprot', 'Phosphosites', 'Kinase', 'Source_DB', 'Position']
dfHPRD

,EPSD_ID,Uniprot,Phosphosites,Kinase,Source_DB,Position
0,0,O00401,"Y175_EITTNRFyGPQVNNI, Y256_RETSKVIyDFIEKTG",ABL1,HPRD,0
1,0,O14745,S290_PALVRSAsSDTSEEL,GRK6,HPRD,0
2,0,O14920,"S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",CHUK,HPRD,0
3,0,O14920,"C179_ELDQGSLcTSFVGTL, S670_SKVRGPVsGSPDSMN, S6...",IKBKB,HPRD,0
4,0,O14920,"S177_AKELDQGsLCTSFVG, S181_DQGSLCTsFVGTLQY",MAP3K7,HPRD,0
...,...,...,...,...,...,...
220,0,Q9Y5B0,"S575_AGESLDQsMEEEEEE, S740_TKAQRENsPAAFPDR",CSNK2A2,HPRD,0
221,0,Q9Y5B0,"S575_AGESLDQsMEEEEEE, S740_TKAQRENsPAAFPDR",CSNK2B,HPRD,0
222,0,O60825,S466_PVRMRRNsFTPLSSS,PRKAA2,HPRD,0
223,0,O60825,T475_TPLSSSNtIRRPRNY,PRKCA,HPRD,0
224,0,Q12959,S232_ITLERGNsGLGFSIA,CAMK2A,HPRD,0

In [294]:
dfHPRD['Phosphosites'] = dfHPRD['Phosphosites'].apply(lambda x:x.split(','))
dfHPRD = dfHPRD.explode('Phosphosites')
dfHPRD

     EPSD_ID Uniprot           Phosphosites  Kinase Source_DB  Position
0          0  O00401   Y175_EITTNRFyGPQVNNI    ABL1      HPRD         0
0          0  O00401   Y256_RETSKVIyDFIEKTG    ABL1      HPRD         0
1          0  O14745   S290_PALVRSAsSDTSEEL    GRK6      HPRD         0
2          0  O14920   S177_AKELDQGsLCTSFVG    CHUK      HPRD         0
2          0  O14920   S181_DQGSLCTsFVGTLQY    CHUK      HPRD         0
..       ...     ...                    ...     ...       ...       ...
221        0  Q9Y5B0   S575_AGESLDQsMEEEEEE  CSNK2B      HPRD         0
221        0  Q9Y5B0   S740_TKAQRENsPAAFPDR  CSNK2B      HPRD         0
222        0  O60825   S466_PVRMRRNsFTPLSSS  PRKAA2      HPRD         0
223        0  O60825   T475_TPLSSSNtIRRPRNY   PRKCA      HPRD         0
224        0  Q12959   S232_ITLERGNsGLGFSIA  CAMK2A      HPRD         0

[489 rows x 6 columns]

In [295]:
dfHPRD['Phosphosites'] = dfHPRD['Phosphosites'].apply(lambda x:x.split('_'))
dfHPRD

In [297]:
dfHPRD['Position'] = dfHPRD['Phosphosites'].apply(lambda x : x[0])
dfHPRD['Phosphosites'] = dfHPRD['Phosphosites'].apply(lambda x : x[1])

dfHPRD

     EPSD_ID Uniprot     Phosphosites  Kinase Source_DB Position
0          0  O00401  EITTNRFyGPQVNNI    ABL1      HPRD     Y175
0          0  O00401  RETSKVIyDFIEKTG    ABL1      HPRD     Y256
1          0  O14745  PALVRSAsSDTSEEL    GRK6      HPRD     S290
2          0  O14920  AKELDQGsLCTSFVG    CHUK      HPRD     S177
2          0  O14920  DQGSLCTsFVGTLQY    CHUK      HPRD     S181
..       ...     ...              ...     ...       ...      ...
221        0  Q9Y5B0  AGESLDQsMEEEEEE  CSNK2B      HPRD     S575
221        0  Q9Y5B0  TKAQRENsPAAFPDR  CSNK2B      HPRD     S740
222        0  O60825  PVRMRRNsFTPLSSS  PRKAA2      HPRD     S466
223        0  O60825  TPLSSSNtIRRPRNY   PRKCA      HPRD     T475
224        0  Q12959  ITLERGNsGLGFSIA  CAMK2A      HPRD     S232

[489 rows x 6 columns]

In [298]:
dfHPRD['p'] = dfHPRD['Position'].apply(lambda x: x.lstrip())

In [301]:
dfHPRD['Position'] = dfHPRD['p']
dfHPRD.drop('p', axis=1, inplace=True)

In [302]:
dfHPRD

     EPSD_ID Uniprot     Phosphosites  Kinase Source_DB Position
0          0  O00401  EITTNRFyGPQVNNI    ABL1      HPRD     Y175
0          0  O00401  RETSKVIyDFIEKTG    ABL1      HPRD     Y256
1          0  O14745  PALVRSAsSDTSEEL    GRK6      HPRD     S290
2          0  O14920  AKELDQGsLCTSFVG    CHUK      HPRD     S177
2          0  O14920  DQGSLCTsFVGTLQY    CHUK      HPRD     S181
..       ...     ...              ...     ...       ...      ...
221        0  Q9Y5B0  AGESLDQsMEEEEEE  CSNK2B      HPRD     S575
221        0  Q9Y5B0  TKAQRENsPAAFPDR  CSNK2B      HPRD     S740
222        0  O60825  PVRMRRNsFTPLSSS  PRKAA2      HPRD     S466
223        0  O60825  TPLSSSNtIRRPRNY   PRKCA      HPRD     T475
224        0  Q12959  ITLERGNsGLGFSIA  CAMK2A      HPRD     S232

[489 rows x 6 columns]

In [303]:
dfHPRD = dfHPRD.iloc[:,[0,1,5,3,4,2]]
dfHPRD

     EPSD_ID Uniprot Position  Kinase Source_DB     Phosphosites
0          0  O00401     Y175    ABL1      HPRD  EITTNRFyGPQVNNI
0          0  O00401     Y256    ABL1      HPRD  RETSKVIyDFIEKTG
1          0  O14745     S290    GRK6      HPRD  PALVRSAsSDTSEEL
2          0  O14920     S177    CHUK      HPRD  AKELDQGsLCTSFVG
2          0  O14920     S181    CHUK      HPRD  DQGSLCTsFVGTLQY
..       ...     ...      ...     ...       ...              ...
221        0  Q9Y5B0     S575  CSNK2B      HPRD  AGESLDQsMEEEEEE
221        0  Q9Y5B0     S740  CSNK2B      HPRD  TKAQRENsPAAFPDR
222        0  O60825     S466  PRKAA2      HPRD  PVRMRRNsFTPLSSS
223        0  O60825     T475   PRKCA      HPRD  TPLSSSNtIRRPRNY
224        0  Q12959     S232  CAMK2A      HPRD  ITLERGNsGLGFSIA

[489 rows x 6 columns]

In [304]:
dfHPRD = pd.merge(dfHPRD, EPSDID, how='left',left_on='Uniprot', right_on='UniProt ID')
dfHPRD

In [306]:
dfHPRD = dfHPRD.iloc[:,[6,1,2,3,4,5]]
dfHPRD

       EPSD ID Uniprot Position  Kinase Source_DB     Phosphosites
0    EP0000087  O00401     Y175    ABL1      HPRD  EITTNRFyGPQVNNI
1    EP0000087  O00401     Y256    ABL1      HPRD  RETSKVIyDFIEKTG
2    EP0001135  O14745     S290    GRK6      HPRD  PALVRSAsSDTSEEL
3    EP0001191  O14920     S177    CHUK      HPRD  AKELDQGsLCTSFVG
4    EP0001191  O14920     S181    CHUK      HPRD  DQGSLCTsFVGTLQY
..         ...     ...      ...     ...       ...              ...
484  EP0088393  Q9Y5B0     S575  CSNK2B      HPRD  AGESLDQsMEEEEEE
485  EP0088393  Q9Y5B0     S740  CSNK2B      HPRD  TKAQRENsPAAFPDR
486  EP0003508  O60825     S466  PRKAA2      HPRD  PVRMRRNsFTPLSSS
487  EP0003508  O60825     T475   PRKCA      HPRD  TPLSSSNtIRRPRNY
488  EP0025725  Q12959     S232  CAMK2A      HPRD  ITLERGNsGLGFSIA

[489 rows x 6 columns]

In [307]:
dfHPRD.rename(columns={'EPSD ID':'EPSD_ID'}, inplace=True)
dfHPRD

/home/hb/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

       EPSD_ID Uniprot Position  Kinase Source_DB     Phosphosites
0    EP0000087  O00401     Y175    ABL1      HPRD  EITTNRFyGPQVNNI
1    EP0000087  O00401     Y256    ABL1      HPRD  RETSKVIyDFIEKTG
2    EP0001135  O14745     S290    GRK6      HPRD  PALVRSAsSDTSEEL
3    EP0001191  O14920     S177    CHUK      HPRD  AKELDQGsLCTSFVG
4    EP0001191  O14920     S181    CHUK      HPRD  DQGSLCTsFVGTLQY
..         ...     ...      ...     ...       ...              ...
484  EP0088393  Q9Y5B0     S575  CSNK2B      HPRD  AGESLDQsMEEEEEE
485  EP0088393  Q9Y5B0     S740  CSNK2B      HPRD  TKAQRENsPAAFPDR
486  EP0003508  O60825     S466  PRKAA2      HPRD  PVRMRRNsFTPLSSS
487  EP0003508  O60825     T475   PRKCA      HPRD  TPLSSSNtIRRPRNY
488  EP0025725  Q12959     S232  CAMK2A      HPRD  ITLERGNsGLGFSIA

[489 rows x 6 columns]

In [309]:
dfHPRD.loc[:,'HPRD']=0

/home/hb/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [316]:
x = dfHPRD.loc[:,'HPRD']
x

0      0
1      0
2      0
3      0
4      0
      ..
484    0
485    0
486    0
487    0
488    0
Name: HPRD, Length: 489, dtype: int64

In [318]:
dfHPRD['HPRD']

0      0
1      0
2      0
3      0
4      0
      ..
484    0
485    0
486    0
487    0
488    0
Name: HPRD, Length: 489, dtype: int64

In [320]:
dfHPRD

,EPSD_ID,Uniprot,Position,Kinase,Source_DB,Phosphosites,HPRD
0,EP0000087,O00401,Y175,ABL1,HPRD,EITTNRFyGPQVNNI,O00401_Y175_ABL1
1,EP0000087,O00401,Y256,ABL1,HPRD,RETSKVIyDFIEKTG,O00401_Y256_ABL1
2,EP0001135,O14745,S290,GRK6,HPRD,PALVRSAsSDTSEEL,O14745_S290_GRK6
3,EP0001191,O14920,S177,CHUK,HPRD,AKELDQGsLCTSFVG,O14920_S177_CHUK
4,EP0001191,O14920,S181,CHUK,HPRD,DQGSLCTsFVGTLQY,O14920_S181_CHUK
...,...,...,...,...,...,...,...
484,EP0088393,Q9Y5B0,S575,CSNK2B,HPRD,AGESLDQsMEEEEEE,Q9Y5B0_S575_CSNK2B
485,EP0088393,Q9Y5B0,S740,CSNK2B,HPRD,TKAQRENsPAAFPDR,Q9Y5B0_S740_CSNK2B
486,EP0003508,O60825,S466,PRKAA2,HPRD,PVRMRRNsFTPLSSS,O60825_S466_PRKAA2
487,EP0003508,O60825,T475,PRKCA,HPRD,TPLSSSNtIRRPRNY,O60825_T475_PRKCA
488,EP0025725,Q12959,S232,CAMK2A,HPRD,ITLERGNsGLGFSIA,Q12959_S232_CAMK2A

In [319]:
dfHPRD['HPRD']
dfHPRD['HPRD'] = dfHPRD['Uniprot'].str.cat(dfHPRD['Position'], sep='_')
dfHPRD['HPRD'] = dfHPRD['HPRD'].str.cat(dfHPRD['Kinase'], sep='_')
dfHPRD['HPRD']

/tmp/ipykernel_1189227/35100317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfHPRD['HPRD'] = dfHPRD['Uniprot'].str.cat(dfHPRD['Position'], sep='_')
/tmp/ipykernel_1189227/35100317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfHPRD['HPRD'] = dfHPRD['HPRD'].str.cat(dfHPRD['Kinase'], sep='_')

0        O00401_Y175_ABL1
1        O00401_Y256_ABL1
2        O14745_S290_GRK6
3        O14920_S177_CHUK
4        O14920_S181_CHUK
              ...
484    Q9Y5B0_S575_CSNK2B
485    Q9Y5B0_S740_CSNK2B
486    O60825_S466_PRKAA2
487     O60825_T475_PRKCA
488    Q12959_S232_CAMK2A
Name: HPRD, Length: 489, dtype: object

In [321]:
dfHPRD.to_csv("./data/experimental_data/HPRD_final_03240901.csv")
dfHPRD.to_excel("./data/experimental_data/HPRD_final_03240901.xlsx")

In [122]:
dfPM

        EPSD ID UniProt Position           Kinase        Source
0     EP0001281  O15162      Y69          Abl;Src  Experimental
1     EP0001281  O15162      Y74          Abl;Src  Experimental
2     EP0001340  O15350      Y99              Abl  Experimental
3     EP0006301  P00519     Y393          Abl;Src  Experimental
4     EP0006302  P00520     Y393              Abl  Experimental
...         ...     ...      ...              ...           ...
2812  EP0009109  P12318     Y288  Fyn;Lyn;Syk;BLK  Experimental
2813  EP0009109  P12318     Y304  Fyn;Lyn;Syk;BLK  Experimental
2814  EP0016960  P51452     Y138        Syk;ZAP70  Experimental
2815  EP0012558  P31995     Y287              Syk  Experimental
2816  EP0010562  P20444     Y658              Syk  Experimental

[2817 rows x 5 columns]

In [124]:
dfHPRD.columns

Index(['EPSD_ID', 'Uniprot', 'Position', 'Kinase', 'Source_DB',
       'Phosphosites'],
      dtype='object')

In [136]:
columns = 'EPSD_ID', 'Uniprot','Position','Kinase','Source_DB'

In [137]:
dfPM.columns = columns
dfPM

        EPSD_ID Uniprot Position           Kinase     Source_DB
0     EP0001281  O15162      Y69          Abl;Src  Experimental
1     EP0001281  O15162      Y74          Abl;Src  Experimental
2     EP0001340  O15350      Y99              Abl  Experimental
3     EP0006301  P00519     Y393          Abl;Src  Experimental
4     EP0006302  P00520     Y393              Abl  Experimental
...         ...     ...      ...              ...           ...
2812  EP0009109  P12318     Y288  Fyn;Lyn;Syk;BLK  Experimental
2813  EP0009109  P12318     Y304  Fyn;Lyn;Syk;BLK  Experimental
2814  EP0016960  P51452     Y138        Syk;ZAP70  Experimental
2815  EP0012558  P31995     Y287              Syk  Experimental
2816  EP0010562  P20444     Y658              Syk  Experimental

[2817 rows x 5 columns]

In [138]:
dfPM['Kinase'] = dfPM['Kinase'].apply(lambda x:x.split(';'))
dfPM = dfPM.explode('Kinase')
dfPM

        EPSD_ID Uniprot Position Kinase     Source_DB
0     EP0001281  O15162      Y69    Abl  Experimental
0     EP0001281  O15162      Y69    Src  Experimental
1     EP0001281  O15162      Y74    Abl  Experimental
1     EP0001281  O15162      Y74    Src  Experimental
2     EP0001340  O15350      Y99    Abl  Experimental
...         ...     ...      ...    ...           ...
2813  EP0009109  P12318     Y304    BLK  Experimental
2814  EP0016960  P51452     Y138    Syk  Experimental
2814  EP0016960  P51452     Y138  ZAP70  Experimental
2815  EP0012558  P31995     Y287    Syk  Experimental
2816  EP0010562  P20444     Y658    Syk  Experimental

[4458 rows x 5 columns]

In [143]:
dfPM.loc[:,['Source_DB']] = 'Postmod'

In [145]:
dfPM.to_csv("./data/experimental_data/Postmod_final_0324.csv")
dfPM.to_excel("./data/experimental_data/Postmod_final_0324.xlsx")

In [157]:
dfPPSP.columns = columns
dfPPSP

         EPSD_ID Uniprot Position Kinase     Source_DB
0      EP0021246  Q01986     S298   PAK2  Experimental
1      EP0087333  Q9WTQ1     S203   PAK2  Experimental
2      EP0006440  P01237     S206   PAK2  Experimental
3      EP0007082  P05198      S52    HRI  Experimental
4      EP0007082  P05198      S49    HRI  Experimental
...          ...     ...      ...    ...           ...
12281  EP0001211  O14974     S910  NuaK1  Experimental
12282  EP0006005  O95835     S464  NuaK1  Experimental
12283  EP0001230  O15027     S668   ULK2  Experimental
12284  EP0134296  A2RUS2     S472   ULK2  Experimental
12285  EP0134296  A2RUS2     S490   ULK2  Experimental

[12286 rows x 5 columns]

In [158]:
dfPPSP.loc[:,['Source_DB']] = 'PhosphositePlus'

In [160]:
dfPPSP.to_csv("./data/experimental_data/PhosphositePlus_final_0324.csv")
dfPPSP.to_excel("./data/experimental_data/PhosphositePlus_final_0324.xlsx")

In [161]:
whos

Variable   Type         Data/Info
---------------------------------
EPSDID     DataFrame               EPSD ID  UniPr<...>[209326 rows x 2 columns]
PATH       str          ./data/experimental_data/
columns    tuple        n=5
dfCK       DataFrame         Kinase Substrate  Sc<...>\n[4375 rows x 3 columns]
dfEPSD     DataFrame               EPSD ID  UniPr<...>1616804 rows x 6 columns]
dfHPRD     DataFrame           EPSD_ID Uniprot Po<...>n\n[489 rows x 6 columns]
dfPM       DataFrame            EPSD_ID Uniprot P<...>\n[4458 rows x 5 columns]
dfPPSP     DataFrame             EPSD_ID Uniprot <...>n[12286 rows x 5 columns]
os         module       <module 'os' from '/home/<...>da3/lib/python3.9/os.py'>
pd         module       <module 'pandas' from '/h<...>ages/pandas/__init__.py'>

In [170]:
dfPPSP.loc[:,'PhosphositePlus'] = 0

         EPSD_ID Uniprot Position Kinase        Source_DB  PhosphositePlus
0      EP0021246  Q01986     S298   PAK2  PhosphositePlus                0
1      EP0087333  Q9WTQ1     S203   PAK2  PhosphositePlus                0
2      EP0006440  P01237     S206   PAK2  PhosphositePlus                0
3      EP0007082  P05198      S52    HRI  PhosphositePlus                0
4      EP0007082  P05198      S49    HRI  PhosphositePlus                0
...          ...     ...      ...    ...              ...              ...
12281  EP0001211  O14974     S910  NuaK1  PhosphositePlus                0
12282  EP0006005  O95835     S464  NuaK1  PhosphositePlus                0
12283  EP0001230  O15027     S668   ULK2  PhosphositePlus                0
12284  EP0134296  A2RUS2     S472   ULK2  PhosphositePlus                0
12285  EP0134296  A2RUS2     S490   ULK2  PhosphositePlus                0

[12286 rows x 6 columns]

In [171]:

dfPPSP['PhosphositePlus'] = dfPPSP['Uniprot'].str.cat(dfPPSP['Position'], sep='_')
dfPPSP['PhosphositePlus'] = dfPPSP['PhosphositePlus'].str.cat(dfPPSP['Kinase'], sep='_')

In [176]:
dfPPSP.drop(['dfPPSP'], axis=1, inplace=True)

In [179]:
dfPM.loc[:,'Postmod'] = 0
dfPM

        EPSD_ID Uniprot Position Kinase Source_DB  Postmod
0     EP0001281  O15162      Y69    Abl   Postmod        0
0     EP0001281  O15162      Y69    Src   Postmod        0
1     EP0001281  O15162      Y74    Abl   Postmod        0
1     EP0001281  O15162      Y74    Src   Postmod        0
2     EP0001340  O15350      Y99    Abl   Postmod        0
...         ...     ...      ...    ...       ...      ...
2813  EP0009109  P12318     Y304    BLK   Postmod        0
2814  EP0016960  P51452     Y138    Syk   Postmod        0
2814  EP0016960  P51452     Y138  ZAP70   Postmod        0
2815  EP0012558  P31995     Y287    Syk   Postmod        0
2816  EP0010562  P20444     Y658    Syk   Postmod        0

[4458 rows x 6 columns]

In [180]:
dfPM['Postmod']
dfPM['Postmod'] = dfPM['Uniprot'].str.cat(dfPM['Position'], sep='_')
dfPM['Postmod']= dfPM['Postmod'].str.cat(dfPM['Kinase'], sep='_')
dfPM

0          O15162_Y69_Abl
0          O15162_Y69_Src
1          O15162_Y74_Abl
1          O15162_Y74_Src
2          O15350_Y99_Abl
              ...
2813      P12318_Y304_BLK
2814      P51452_Y138_Syk
2814    P51452_Y138_ZAP70
2815      P31995_Y287_Syk
2816      P20444_Y658_Syk
Name: Postmod, Length: 4458, dtype: object

In [215]:
dfHPRD['Uniprot_Kinase'] = dfHPRD['Uniprot'].str.cat(dfHPRD['Kinase'], sep='_')
dfPM['Uniprot_Kinase'] = dfPM['Uniprot'].str.cat(dfPM['Kinase'], sep='_')
dfPPSP['Uniprot_Kinase'] = dfPPSP['Uniprot'].str.cat(dfPPSP['Kinase'], sep='_')

In [219]:
dfPPSP

,EPSD_ID,Uniprot,Position,Kinase,Source_DB,PhosphositePlus,Uniprot_Kinase
0,EP0021246,Q01986,S298,PAK2,PhosphositePlus,Q01986_S298_PAK2,Q01986_PAK2
1,EP0087333,Q9WTQ1,S203,PAK2,PhosphositePlus,Q9WTQ1_S203_PAK2,Q9WTQ1_PAK2
2,EP0006440,P01237,S206,PAK2,PhosphositePlus,P01237_S206_PAK2,P01237_PAK2
3,EP0007082,P05198,S52,HRI,PhosphositePlus,P05198_S52_HRI,P05198_HRI
4,EP0007082,P05198,S49,HRI,PhosphositePlus,P05198_S49_HRI,P05198_HRI
...,...,...,...,...,...,...,...
12281,EP0001211,O14974,S910,NuaK1,PhosphositePlus,O14974_S910_NuaK1,O14974_NuaK1
12282,EP0006005,O95835,S464,NuaK1,PhosphositePlus,O95835_S464_NuaK1,O95835_NuaK1
12283,EP0001230,O15027,S668,ULK2,PhosphositePlus,O15027_S668_ULK2,O15027_ULK2
12284,EP0134296,A2RUS2,S472,ULK2,PhosphositePlus,A2RUS2_S472_ULK2,A2RUS2_ULK2
12285,EP0134296,A2RUS2,S490,ULK2,PhosphositePlus,A2RUS2_S490_ULK2,A2RUS2_ULK2

In [186]:
dfHPRD['HPRD']
dfHPRD['HPRD'] = dfHPRD['Uniprot'].str.cat(dfHPRD['Position'], sep='_')
dfHPRD['HPRD']= dfHPRD['HPRD'].str.cat(dfHPRD['Kinase'], sep='_')
dfHPRD

/tmp/ipykernel_1189227/2300648452.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfHPRD['HPRD'] = dfHPRD['Uniprot'].str.cat(dfHPRD['Position'], sep='_')
/tmp/ipykernel_1189227/2300648452.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfHPRD['HPRD']= dfHPRD['HPRD'].str.cat(dfHPRD['Kinase'], sep='_')

,EPSD_ID,Uniprot,Position,Kinase,Source_DB,Phosphosites,HPRD
0,EP0000087,O00401,Y175,ABL1,HPRD,EITTNRFyGPQVNNI,O00401_Y175_ABL1
1,EP0000087,O00401,Y256,ABL1,HPRD,RETSKVIyDFIEKTG,O00401_ Y256_ABL1
2,EP0001135,O14745,S290,GRK6,HPRD,PALVRSAsSDTSEEL,O14745_S290_GRK6
3,EP0001191,O14920,S177,CHUK,HPRD,AKELDQGsLCTSFVG,O14920_S177_CHUK
4,EP0001191,O14920,S181,CHUK,HPRD,DQGSLCTsFVGTLQY,O14920_ S181_CHUK
...,...,...,...,...,...,...,...
484,EP0088393,Q9Y5B0,S575,CSNK2B,HPRD,AGESLDQsMEEEEEE,Q9Y5B0_S575_CSNK2B
485,EP0088393,Q9Y5B0,S740,CSNK2B,HPRD,TKAQRENsPAAFPDR,Q9Y5B0_ S740_CSNK2B
486,EP0003508,O60825,S466,PRKAA2,HPRD,PVRMRRNsFTPLSSS,O60825_S466_PRKAA2
487,EP0003508,O60825,T475,PRKCA,HPRD,TPLSSSNtIRRPRNY,O60825_T475_PRKCA
488,EP0025725,Q12959,S232,CAMK2A,HPRD,ITLERGNsGLGFSIA,Q12959_S232_CAMK2A

- dfPPSP : PhosphositePlus
- dfPM : Postmod
- dfHPRD : HPRD

In [327]:
display(dfPPSP.head(3))
display(dfPM.head(3))
display(dfHPRD.head(3))

,EPSD_ID,Uniprot,Position,Kinase,Source_DB,PhosphositePlus,Uniprot_Kinase
0,EP0021246,Q01986,S298,PAK2,PhosphositePlus,Q01986_S298_PAK2,Q01986_PAK2
1,EP0087333,Q9WTQ1,S203,PAK2,PhosphositePlus,Q9WTQ1_S203_PAK2,Q9WTQ1_PAK2
2,EP0006440,P01237,S206,PAK2,PhosphositePlus,P01237_S206_PAK2,P01237_PAK2

     EPSD_ID Uniprot Position Kinase Source_DB         Postmod Uniprot_Kinase
0  EP0001281  O15162      Y69    Abl   Postmod  O15162_Y69_Abl     O15162_Abl
0  EP0001281  O15162      Y69    Src   Postmod  O15162_Y69_Src     O15162_Src
1  EP0001281  O15162      Y74    Abl   Postmod  O15162_Y74_Abl     O15162_Abl

,EPSD_ID,Uniprot,Position,Kinase,Source_DB,Phosphosites,HPRD
0,EP0000087,O00401,Y175,ABL1,HPRD,EITTNRFyGPQVNNI,O00401_Y175_ABL1
1,EP0000087,O00401,Y256,ABL1,HPRD,RETSKVIyDFIEKTG,O00401_Y256_ABL1
2,EP0001135,O14745,S290,GRK6,HPRD,PALVRSAsSDTSEEL,O14745_S290_GRK6

In [328]:
PPSP = dfPPSP.loc[:,'PhosphositePlus']
PM = dfPM.loc[:,'Postmod']
HPRD = dfHPRD.loc[:,'HPRD']

In [335]:
PPSP_PM = pd.merge(PPSP, PM, left_on='PhosphositePlus', right_on = 'Postmod')

PPSP_HPRD = pd.merge(PPSP, HPRD, left_on='PhosphositePlus', right_on = 'HPRD')

PM_HPRD = pd.merge(PM, HPRD, left_on='Postmod', right_on = 'HPRD')

PPSP_PM_HPRD = pd.merge(PPSP_PM, HPRD, left_on='PhosphositePlus', right_on = 'HPRD')

In [336]:
PPSP_PM

       PhosphositePlus            Postmod
0     P03372_S118_CDK7   P03372_S118_CDK7
1     P03372_S118_CDK7   P03372_S118_CDK7
2     P03372_S118_CDK7   P03372_S118_CDK7
3     P03372_S118_CDK7   P03372_S118_CDK7
4     P04637_S392_CDK7   P04637_S392_CDK7
..                 ...                ...
952   Q13480_Y627_EGFR   Q13480_Y627_EGFR
953  P00533_Y1197_EGFR  P00533_Y1197_EGFR
954   P35240_S518_PAK2   P35240_S518_PAK2
955      O15530_Y9_Ret      O15530_Y9_Ret
956  P55212_S257_NuaK1  P55212_S257_NuaK1

[957 rows x 2 columns]

In [337]:
PPSP_HPRD

    PhosphositePlus              HPRD
0  P31749_S473_PDK1  P31749_S473_PDK1
1  P31749_T308_PDK1  P31749_T308_PDK1
2  P13639_T57_EEF2K  P13639_T57_EEF2K

In [338]:
PM_HPRD

               Postmod                HPRD
0     P46108_Y221_EGFR    P46108_Y221_EGFR
1     P46108_Y221_EGFR    P46108_Y221_EGFR
2     P46108_Y221_EGFR    P46108_Y221_EGFR
3    P46108_Y221_IGF1R   P46108_Y221_IGF1R
4    P46108_Y221_IGF1R   P46108_Y221_IGF1R
5    P46108_Y221_IGF1R   P46108_Y221_IGF1R
6   P25963_S32_EIF2AK2  P25963_S32_EIF2AK2
7   P25963_S32_EIF2AK2  P25963_S32_EIF2AK2
8     P42224_Y701_EGFR    P42224_Y701_EGFR
9     P42224_Y701_EGFR    P42224_Y701_EGFR
10    P42224_Y701_EGFR    P42224_Y701_EGFR
11    O75886_Y192_EGFR    O75886_Y192_EGFR
12     P22681_Y731_HCK     P22681_Y731_HCK
13     P22681_Y731_HCK     P22681_Y731_HCK
14     P22681_Y731_HCK     P22681_Y731_HCK
15     P22681_Y731_HCK     P22681_Y731_HCK
16    P40763_Y705_JAK1    P40763_Y705_JAK1
17    P40763_Y705_JAK1    P40763_Y705_JAK1
18   P19419_S383_MAPK9   P19419_S383_MAPK9
19   P19419_S383_MAPK9   P19419_S383_MAPK9
20   P19419_S389_MAPK9   P19419_S389_MAPK9
21   P19419_S389_MAPK9   P19419_S389_MAPK9

In [243]:
merge = pd.merge(df1, df2, on='Uniprot_Kinase', how='outer')
merge

           Source_DB_x Uniprot_Kinase Source_DB_y
0      PhosphositePlus    Q01986_PAK2         NaN
1      PhosphositePlus    Q9WTQ1_PAK2         NaN
2      PhosphositePlus    P01237_PAK2         NaN
3      PhosphositePlus     P05198_HRI         NaN
4      PhosphositePlus     P05198_HRI         NaN
...                ...            ...         ...
18847              NaN     O54957_Syk     Postmod
18848              NaN     Q92918_Syk     Postmod
18849              NaN     P17252_Syk     Postmod
18850              NaN     O43914_Syk     Postmod
18851              NaN     O43914_Syk     Postmod

[18852 rows x 3 columns]