In [2]:
import pickle
import pandas as pd

In [3]:
with open("/home/hb/python/pp_pred/raw_data/220531_GPS5.0-NetworKIN/dfdepodhmm_ratiorandomver4.pickle", "rb" ) as file:
    depod = pickle.load(file)

networkin = pd.read_csv('/home/hb/python/pp_pred/raw_data/220531_GPS5.0-NetworKIN/curated.networkin_0111 (1).txt', sep="\t")

gps = pd.read_csv('/home/hb/python/pp_pred/raw_data/220531_GPS5.0-NetworKIN/networkinsub.gps.csv', sep='\t')

In [4]:
def df_info(data):
    print(data.columns)
    display(data.head(3))
    print(len(data))

In [5]:
df_info(depod)
df_info(networkin)
df_info(gps)

Index(['Substrate accession number', 'Substrate Gene name/s', 'Substrate',
       'Phosphorylating protein kinases', 'Bioassay/s', 'Literature support',
       'Source database',
       'Dephosphorylation site and 5 amino acid window around it',
       'Dephosphorylating protein phosphatases ', 'Literature support.1',
       'kinseq', 'Length', 'answer', 'matrix'],
      dtype='object')

,Substrate accession number,Substrate Gene name/s,Substrate,Phosphorylating protein kinases,Bioassay/s,Literature support,Source database,Dephosphorylation site and 5 amino acid window around it,Dephosphorylating protein phosphatases,Literature support.1,kinseq,Length,answer,matrix
0,O00401,"N-WASP, WASL",EITTNRFYGPQVNNI,ABL1,"in vitro, in vivo","16199863, 17389395, 18452278, 18707149, 194156...",HPRD,y256_TSKVIyDFIEK,PTPN2,16293614,MKHKLGGGQYGEVYEGVWKKYSLTVAVKTLKEDTMEVEEFLKEAAV...,247,1,"[[[0.965, 1.207, 1.078, 1.078, 0.9233, 0.993, ..."
3,O14920,"IKBKB, IKKB",AKELDQGSLCTSFVG,CHUK,"in vitro, in vivo","10022904, 10195894, 10779355, 9689078",HPRD,"s177_ELDQGsLCTSF, s181_GSLCTsFVGTL","PPM1A, PPM1B, PPM1M, PPP2CA, PPP2CB","14585847, 17188031, 18930133, 19594441, 19607706",MRERLGTGGFGNVCLYQHRELDLKIAIKSCRLELSTKNRERWCHEI...,272,1,"[[[1.23, 0.886, 0.965, 1.123, 0.873, 1.042, 1...."
4,O14920,"IKBKB, IKKB",DQGSLCTSFVGTLQY,CHUK,"in vitro, in vivo","10022904, 10195894, 10779355, 9689078",HPRD,"s177_ELDQGsLCTSF, s181_GSLCTsFVGTL","PPM1A, PPM1B, PPM1M, PPP2CA, PPP2CB","14585847, 17188031, 18930133, 19594441, 19607706",MRERLGTGGFGNVCLYQHRELDLKIAIKSCRLELSTKNRERWCHEI...,272,1,"[[[0.873, 1.042, 1.034, 1.0, 1.123, 1.449, 1.0..."

394
Index(['#Name', 'Position', 'Tree', 'NetPhorest Group',
       'Kinase/Phosphatase/Phospho-binding domain', 'NetworKIN score',
       'NetPhorest probability', 'STRING score', 'Target STRING ID',
       'Kinase/Phosphatase/Phospho-binding domain STRING ID',
       'Target description',
       'Kinase/Phosphatase/Phospho-binding domain description', 'Target Name',
       'Kinase/Phosphatase/Phospho-binding domain Name',
       'Peptide sequence window', 'Intermediate nodes'],
      dtype='object')

,#Name,Position,Tree,NetPhorest Group,Kinase/Phosphatase/Phospho-binding domain,NetworKIN score,NetPhorest probability,STRING score,Target STRING ID,Kinase/Phosphatase/Phospho-binding domain STRING ID,Target description,Kinase/Phosphatase/Phospho-binding domain description,Target Name,Kinase/Phosphatase/Phospho-binding domain Name,Peptide sequence window,Intermediate nodes
0,Q9GZM8,S242,WW,any_group,PIN1,1.1188,0.1258,0.3862,ENSP00000333982,ENSP00000247970,NDEL1,PIN1,nudE nuclear distribution gene E homolog (A. n...,"peptidylprolyl cis/trans isomerase, NIMA-inter...",NGFGTsPLTPS,ENSP00000300093
1,Q9GZM8,S242,KIN,CDK2_CDK3_CDK1_CDK5_group,CDK1,6.3427,0.1481,0.7380,ENSP00000333982,ENSP00000306043,NDEL1,CDK1,nudE nuclear distribution gene E homolog (A. n...,cyclin-dependent kinase 1,NGFGTsPLTPS,NaN
2,Q9GZM8,S242,KIN,AuroraA,AuroraA,5.3682,0.0093,0.9410,ENSP00000333982,ENSP00000216911,NDEL1,AURKA,nudE nuclear distribution gene E homolog (A. n...,aurora kinase A,NGFGTsPLTPS,NaN

42579
Index(['Position', 'Code', 'Kinase', 'Peptide', 'Score', 'Cutoff'], dtype='object')

   Position Code Kinase          Peptide  Score  Cutoff
0        72    S    AGC  DSTYYKASKKFRTPS  0.601   0.386
1        79    S    AGC  SKKFRTPSFLKKSPG  3.080   0.386
2       122    S    AGC  IPDASRPSSSRSYVL  1.137   0.386

34783

In [6]:
df_info(depod)

Index(['Substrate accession number', 'Substrate Gene name/s', 'Substrate',
       'Phosphorylating protein kinases', 'Bioassay/s', 'Literature support',
       'Source database',
       'Dephosphorylation site and 5 amino acid window around it',
       'Dephosphorylating protein phosphatases ', 'Literature support.1',
       'kinseq', 'Length', 'answer', 'matrix'],
      dtype='object')

,Substrate accession number,Substrate Gene name/s,Substrate,Phosphorylating protein kinases,Bioassay/s,Literature support,Source database,Dephosphorylation site and 5 amino acid window around it,Dephosphorylating protein phosphatases,Literature support.1,kinseq,Length,answer,matrix
0,O00401,"N-WASP, WASL",EITTNRFYGPQVNNI,ABL1,"in vitro, in vivo","16199863, 17389395, 18452278, 18707149, 194156...",HPRD,y256_TSKVIyDFIEK,PTPN2,16293614,MKHKLGGGQYGEVYEGVWKKYSLTVAVKTLKEDTMEVEEFLKEAAV...,247,1,"[[[0.965, 1.207, 1.078, 1.078, 0.9233, 0.993, ..."
3,O14920,"IKBKB, IKKB",AKELDQGSLCTSFVG,CHUK,"in vitro, in vivo","10022904, 10195894, 10779355, 9689078",HPRD,"s177_ELDQGsLCTSF, s181_GSLCTsFVGTL","PPM1A, PPM1B, PPM1M, PPP2CA, PPP2CB","14585847, 17188031, 18930133, 19594441, 19607706",MRERLGTGGFGNVCLYQHRELDLKIAIKSCRLELSTKNRERWCHEI...,272,1,"[[[1.23, 0.886, 0.965, 1.123, 0.873, 1.042, 1...."
4,O14920,"IKBKB, IKKB",DQGSLCTSFVGTLQY,CHUK,"in vitro, in vivo","10022904, 10195894, 10779355, 9689078",HPRD,"s177_ELDQGsLCTSF, s181_GSLCTsFVGTL","PPM1A, PPM1B, PPM1M, PPP2CA, PPP2CB","14585847, 17188031, 18930133, 19594441, 19607706",MRERLGTGGFGNVCLYQHRELDLKIAIKSCRLELSTKNRERWCHEI...,272,1,"[[[0.873, 1.042, 1.034, 1.0, 1.123, 1.449, 1.0..."

394

# DEPOD data preprocessing
1. DEPOD 데이터에서 Substrate Peptide의 길이를 11로 바꿔준다.
2. Kinase와 Peptide를 '_'를 기준으로 이어준다.

In [7]:
depod_ = depod.loc[:,["Phosphorylating protein kinases", "Substrate"]]
depod_.head(3)
depod = depod_

In [8]:
depod['Substrate'] = depod['Substrate'].apply(lambda x:x[2:13])
depod['kin_sub'] = depod['Phosphorylating protein kinases'].str.cat(depod['Substrate'], sep='_')
depod.head(3)

  Phosphorylating protein kinases    Substrate           kin_sub
0                            ABL1  TTNRFYGPQVN  ABL1_TTNRFYGPQVN
3                            CHUK  ELDQGSLCTSF  CHUK_ELDQGSLCTSF
4                            CHUK  GSLCTSFVGTL  CHUK_GSLCTSFVGTL

In [9]:
# depod.to_csv("/home/hb/python/pp_pred/EDA/result_220614_pp-pred_(networKIN&GPS&DEPOD비교)/depod_preprocessing.csv")

In [10]:
depod_kinsub = depod.loc[:,['kin_sub']]
depod_kinsub

                 kin_sub
0       ABL1_TTNRFYGPQVN
3       CHUK_ELDQGSLCTSF
4       CHUK_GSLCTSFVGTL
5      IKBKB_DQGSLCTSFVG
6      IKBKB_VRGPVSGSPDS
..                   ...
440   PRKACA_AYDPSSNLLAM
441  CSNK2A2_ESLDQSMEEEE
442  CSNK2A2_AQRENSPAAFP
443   PRKAA2_RMRRNSFTPLS
444    PRKCA_LSSSNTIRRPR

[394 rows x 1 columns]

In [11]:
len('TTNRFYGPQVN')

11

# GPS data prepreocessing
1. GPS 데이터에서 Peptide의 길이를 11로 바꿔준다.
2. Kinase와 Peptide를 '_'를 기준으로 이어준다.

In [12]:
# df_info(gps)

gps['Peptide'] = gps['Peptide'].apply(lambda x:x[2:13])
gps['kin_sub'] = gps['Kinase'].str.cat(gps['Peptide'], sep='_')

gps['kin_sub'] = gps['kin_sub'].apply(lambda x:x.split('/'))
gps['kin_sub'] = gps['kin_sub'].apply(lambda x:x[-1])
gps.head(3)

   Position Code Kinase      Peptide  Score  Cutoff          kin_sub
0        72    S    AGC  TYYKASKKFRT  0.601   0.386  AGC_TYYKASKKFRT
1        79    S    AGC  KFRTPSFLKKS  3.080   0.386  AGC_KFRTPSFLKKS
2       122    S    AGC  DASRPSSSRSY  1.137   0.386  AGC_DASRPSSSRSY

In [13]:
# gps.to_csv("/home/hb/python/pp_pred/EDA/result_220614_pp-pred_(networKIN&GPS&DEPOD비교)/gps5.0_preprocessing.csv")

In [14]:
gps_kinsub = gps.loc[:,['kin_sub']]
gps_kinsub

                kin_sub
0       AGC_TYYKASKKFRT
1       AGC_KFRTPSFLKKS
2       AGC_DASRPSSSRSY
3       AGC_ASRPSSSRSYV
4       AGC_LEKRASGQAFE
...                 ...
34778  WEE1_NLIREYVKQTW
34779  WEE1_GMMSDYGTARR
34780  WEE1_LVASLYASSPG
34781  WEE1_ENFDDYMKEVG
34782  WEE1_SFESRYHSESA

[34783 rows x 1 columns]

# NetworKIN data preprocessing

1. NetworKIN 데이터의 Peptide는 중간에 소문자가 끼어있으므로, 이를 대문자화해준다.
2. Kinase와 Peptide를 '_'를 기준으로 이어준다.

In [15]:
df_info(networkin)

Index(['#Name', 'Position', 'Tree', 'NetPhorest Group',
       'Kinase/Phosphatase/Phospho-binding domain', 'NetworKIN score',
       'NetPhorest probability', 'STRING score', 'Target STRING ID',
       'Kinase/Phosphatase/Phospho-binding domain STRING ID',
       'Target description',
       'Kinase/Phosphatase/Phospho-binding domain description', 'Target Name',
       'Kinase/Phosphatase/Phospho-binding domain Name',
       'Peptide sequence window', 'Intermediate nodes'],
      dtype='object')

,#Name,Position,Tree,NetPhorest Group,Kinase/Phosphatase/Phospho-binding domain,NetworKIN score,NetPhorest probability,STRING score,Target STRING ID,Kinase/Phosphatase/Phospho-binding domain STRING ID,Target description,Kinase/Phosphatase/Phospho-binding domain description,Target Name,Kinase/Phosphatase/Phospho-binding domain Name,Peptide sequence window,Intermediate nodes
0,Q9GZM8,S242,WW,any_group,PIN1,1.1188,0.1258,0.3862,ENSP00000333982,ENSP00000247970,NDEL1,PIN1,nudE nuclear distribution gene E homolog (A. n...,"peptidylprolyl cis/trans isomerase, NIMA-inter...",NGFGTsPLTPS,ENSP00000300093
1,Q9GZM8,S242,KIN,CDK2_CDK3_CDK1_CDK5_group,CDK1,6.3427,0.1481,0.7380,ENSP00000333982,ENSP00000306043,NDEL1,CDK1,nudE nuclear distribution gene E homolog (A. n...,cyclin-dependent kinase 1,NGFGTsPLTPS,NaN
2,Q9GZM8,S242,KIN,AuroraA,AuroraA,5.3682,0.0093,0.9410,ENSP00000333982,ENSP00000216911,NDEL1,AURKA,nudE nuclear distribution gene E homolog (A. n...,aurora kinase A,NGFGTsPLTPS,NaN

42579

In [16]:
networkin['Peptide sequence window'] = networkin['Peptide sequence window'].apply(lambda x:x.upper())
networkin['kin_sub'] = networkin['Kinase/Phosphatase/Phospho-binding domain description'].str.cat(networkin['Peptide sequence window'], sep='_')

networkin.head(3)

,#Name,Position,Tree,NetPhorest Group,Kinase/Phosphatase/Phospho-binding domain,NetworKIN score,NetPhorest probability,STRING score,Target STRING ID,Kinase/Phosphatase/Phospho-binding domain STRING ID,Target description,Kinase/Phosphatase/Phospho-binding domain description,Target Name,Kinase/Phosphatase/Phospho-binding domain Name,Peptide sequence window,Intermediate nodes,kin_sub
0,Q9GZM8,S242,WW,any_group,PIN1,1.1188,0.1258,0.3862,ENSP00000333982,ENSP00000247970,NDEL1,PIN1,nudE nuclear distribution gene E homolog (A. n...,"peptidylprolyl cis/trans isomerase, NIMA-inter...",NGFGTSPLTPS,ENSP00000300093,PIN1_NGFGTSPLTPS
1,Q9GZM8,S242,KIN,CDK2_CDK3_CDK1_CDK5_group,CDK1,6.3427,0.1481,0.7380,ENSP00000333982,ENSP00000306043,NDEL1,CDK1,nudE nuclear distribution gene E homolog (A. n...,cyclin-dependent kinase 1,NGFGTSPLTPS,NaN,CDK1_NGFGTSPLTPS
2,Q9GZM8,S242,KIN,AuroraA,AuroraA,5.3682,0.0093,0.9410,ENSP00000333982,ENSP00000216911,NDEL1,AURKA,nudE nuclear distribution gene E homolog (A. n...,aurora kinase A,NGFGTSPLTPS,NaN,AURKA_NGFGTSPLTPS

In [17]:
# networkin.to_csv("/home/hb/python/pp_pred/EDA/result_220614_pp-pred_(networKIN&GPS&DEPOD비교)/networkin_preprocessing.csv")

In [18]:
networkin_kinsub = networkin.loc[:,['kin_sub']]
networkin_kinsub

                 kin_sub
0       PIN1_NGFGTSPLTPS
1       CDK1_NGFGTSPLTPS
2      AURKA_NGFGTSPLTPS
3       NEK2_NGFGTSPLTPS
4       CDK5_NGFGTSPLTPS
...                  ...
42574  YWHAQ_AESGKSASTEV
42575  YWHAG_AESGKSASTEV
42576  YWHAB_AESGKSASTEV
42577  YWHAH_AESGKSASTEV
42578    SFN_AESGKSASTEV

[42579 rows x 1 columns]

In [36]:
depod_kinsub

                 kin_sub
0       ABL1_TTNRFYGPQVN
3       CHUK_ELDQGSLCTSF
4       CHUK_GSLCTSFVGTL
5      IKBKB_DQGSLCTSFVG
6      IKBKB_VRGPVSGSPDS
..                   ...
440   PRKACA_AYDPSSNLLAM
441  CSNK2A2_ESLDQSMEEEE
442  CSNK2A2_AQRENSPAAFP
443   PRKAA2_RMRRNSFTPLS
444    PRKCA_LSSSNTIRRPR

[394 rows x 1 columns]

In [34]:
networkin_kinsub

                 kin_sub
0       PIN1_NGFGTSPLTPS
1       CDK1_NGFGTSPLTPS
2      AURKA_NGFGTSPLTPS
3       NEK2_NGFGTSPLTPS
4       CDK5_NGFGTSPLTPS
...                  ...
42574  YWHAQ_AESGKSASTEV
42575  YWHAG_AESGKSASTEV
42576  YWHAB_AESGKSASTEV
42577  YWHAH_AESGKSASTEV
42578    SFN_AESGKSASTEV

[42579 rows x 1 columns]

# 같은 데이터 여부 비교하기

In [19]:
df_info(networkin_kinsub)
df_info(gps_kinsub)
df_info(depod_kinsub)

Index(['kin_sub'], dtype='object')

             kin_sub
0   PIN1_NGFGTSPLTPS
1   CDK1_NGFGTSPLTPS
2  AURKA_NGFGTSPLTPS

42579
Index(['kin_sub'], dtype='object')

           kin_sub
0  AGC_TYYKASKKFRT
1  AGC_KFRTPSFLKKS
2  AGC_DASRPSSSRSY

34783
Index(['kin_sub'], dtype='object')

            kin_sub
0  ABL1_TTNRFYGPQVN
3  CHUK_ELDQGSLCTSF
4  CHUK_GSLCTSFVGTL

394

In [46]:
print(len(depod_kinsub))
depod_kinsub_dropdup = depod_kinsub.drop_duplicates(keep='first')
len(depod_kinsub_dropdup)

394

392

In [48]:
print(len(networkin_kinsub))
networkin_kinsub_dropdup = networkin_kinsub.drop_duplicates(keep='first')
len(networkin_kinsub_dropdup)

42579

40031

In [49]:
print(len(gps_kinsub))
gps_kinsub_dropdup = gps_kinsub.drop_duplicates(keep='first')
len(gps_kinsub_dropdup)

34783

32707

In [56]:
depod_networkin_concat = pd.concat([depod_kinsub_dropdup, networkin_kinsub_dropdup])
depod_networkin_concat = depod_networkin_concat[depod_networkin_concat.duplicated(['kin_sub'],keep='first')==True]

In [53]:
depod_gps_concat = pd.concat([depod_kinsub_dropdup, gps_kinsub_dropdup])
depod_gps_concat = depod_gps_concat[depod_gps_concat.duplicated(['kin_sub'],keep='first')==True]

In [61]:
depod_networkin_gps = pd.merge(depod_networkin_concat, depod_gps_concat, on = "kin_sub", how='inner')
depod_networkin_gps

               kin_sub
0     CDK5_NGFGTSPLTPS
1     CDK5_GTSPLTPSARI
2     CDK5_ENTFPSPKAIP
3      SRC_GNGVLYASVNP
4      SRC_YETDYYRKGGK
..                 ...
90    EGFR_GGSDNYGSLSR
91     SRC_YDDLDYGMMSD
92     FYN_IEDPYYGNDSD
93  MAPK14_GSPNLSPNPMS
94  MAPK14_SPNPMSPAHNN

[95 rows x 1 columns]

In [59]:
depod_networkin_concat.to_csv("/home/hb/python/pp_pred/EDA/result_220614_pp-pred_(networKIN&GPS&DEPOD비교)/depod_networkin_공통데이터.csv")
depod_gps_concat.to_csv("/home/hb/python/pp_pred/EDA/result_220614_pp-pred_(networKIN&GPS&DEPOD비교)/depod_gps_공통데이터.csv")

In [62]:


depod_networkin_gps.to_csv("/home/hb/python/pp_pred/EDA/result_220614_pp-pred_(networKIN&GPS&DEPOD비교)/depod_gps_networkin_공통데이터.csv")