In [2]:
import urllib.parse
import urllib.request
import pandas as pd
import re
from tqdm.notebook import tqdm
import numpy as np
import pickle
import os

In [3]:
os.getcwd()
os.chdir("./data/")
os.getcwd()

'/home/hb/python/preprecessing3/data'

# 데이터 살펴보기
[1. Postmod](#Postmod)  
[2. Phospho.ELM](#PostPho.ELM)  
3. PSEA -> 접속불가  
[4. PhosphoNetworks](#PhosphoNetworks)    
5. HuPHO -> 접속불가
[6. PhosphoPICK](#PhosphoPICK)  
7. RegPhos -> 접속불가    
8. PKIS -> 접속불가  
[9. EPSD](#EPSD)

dfPostMod = pd.read_csv('./PostMod.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPostMod.head()) #실험데이터 2816개
          #
          #PostMod by using Phospho.ELM database
dfPhosphoSitePlus = pd.read_csv('./PhosphoSitePlus.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPhosphoSitePlus.head()) #실험데이터

          
dfPhosphoELM = pd.read_csv('./Phospho.ELM.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPhosphoELM.head()) #실험데이터


dfPhosphoNetworks = pd.read_csv('./PhosphoNetworks.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPhosphoNetworks.head()) #실험데이터 3274개 UniProt와 Uniprot.1이 다르므로 kinase와 substrate로 구분가능할듯 
                  #datasets were generated from a collaborative project of 
                  #Drs. Heng Zhu, Jin Zhang, and Jiang Qian's labs 

dfDEPOD = pd.read_csv('./DEPOD.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfDEPOD.head()) #실험데이터 데이터개수 265개
        
dfPhosphoPICK = pd.read_csv('./PhosphoPICK.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPhosphoPICK.head()) #예측 데이터 20209개 substrate에 대한 각각의 kinase별 p-value제공


dfNetworKIN = pd.read_csv('./NetworKIN.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfNetworKIN.head()) #예측데이터 


dfGPS = pd.read_csv('./GPS.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfGPS.head()) #예측데이터
dfEPSD = pd.read_csv('./EPSD.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfEPSD.head())
dfGPSbench = pd.read_excel('./GPS5_benchmarkdata.xlsx',header = 3)
display(dfEPSD.head())

## Postmod
- 추후 설명 추가하기

In [4]:
dfPostMod = pd.read_csv('./PostMod.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPostMod) #실험데이터 2816개
          #
          #PostMod by using Phospho.ELM database
        
dfPostMod.info()

        EPSD ID UniProt Position           Kinase        Source
0     EP0001281  O15162      Y69          Abl;Src  Experimental
1     EP0001281  O15162      Y74          Abl;Src  Experimental
2     EP0001340  O15350      Y99              Abl  Experimental
3     EP0006301  P00519     Y393          Abl;Src  Experimental
4     EP0006302  P00520     Y393              Abl  Experimental
...         ...     ...      ...              ...           ...
2812  EP0009109  P12318     Y288  Fyn;Lyn;Syk;BLK  Experimental
2813  EP0009109  P12318     Y304  Fyn;Lyn;Syk;BLK  Experimental
2814  EP0016960  P51452     Y138        Syk;ZAP70  Experimental
2815  EP0012558  P31995     Y287              Syk  Experimental
2816  EP0010562  P20444     Y658              Syk  Experimental

[2817 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2817 entries, 0 to 2816
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   EPSD ID   2817 non-null   object
 1   UniProt   2817 non-null   object
 2   Position  2817 non-null   object
 3   Kinase    2817 non-null   object
 4   Source    2817 non-null   object
dtypes: object(5)
memory usage: 110.2+ KB

In [5]:
dfPostMod['Kinase'] = dfPostMod['Kinase'].apply(lambda x:x.split(';'))
dfPostMod = dfPostMod.explode('Kinase')
dfPostMod

        EPSD ID UniProt Position Kinase        Source
0     EP0001281  O15162      Y69    Abl  Experimental
0     EP0001281  O15162      Y69    Src  Experimental
1     EP0001281  O15162      Y74    Abl  Experimental
1     EP0001281  O15162      Y74    Src  Experimental
2     EP0001340  O15350      Y99    Abl  Experimental
...         ...     ...      ...    ...           ...
2813  EP0009109  P12318     Y304    BLK  Experimental
2814  EP0016960  P51452     Y138    Syk  Experimental
2814  EP0016960  P51452     Y138  ZAP70  Experimental
2815  EP0012558  P31995     Y287    Syk  Experimental
2816  EP0010562  P20444     Y658    Syk  Experimental

[4458 rows x 5 columns]

In [6]:
# EPSD ID = UniPort (substrate) 개수
print(f"substrate 개수", dfPostMod.iloc[:,0].value_counts(),sep='\n', end='\n\n') 

# dfPostMod의 'Kinase'이름의 열에서 고유값의 개수

# Kinase 개수
print(f"kinase 개수", dfPostMod.iloc[:,3].value_counts(),sep='\n', end='\n\n') 

# dfPostMod의 'Kinase'이름의 열에서 고유값의 개수)
print(f"예측값 or 실험값",dfPostMod.iloc[:,4].value_counts(),sep='\n', end='\n\n') 

# dfPostMod의 'Kinase'이름의 열에서 고유값의 개수)

substrate 개수
EP0010961    94
EP0009822    70
EP0025924    63
EP0008942    58
EP0009427    55
             ..
EP0021038     1
EP0009765     1
EP0012898     1
EP0015705     1
EP0018795     1
Name: EPSD ID, Length: 982, dtype: int64

kinase 개수
PKA_group           313
CK2_group           273
PKC_group           232
Src                 182
MAPK1               181
                   ...
PKG1A/cGK-Ialpha      1
PAK3                  1
MARK_group            1
MAP3K_group           1
PYK2                  1
Name: Kinase, Length: 156, dtype: int64

예측값 or 실험값
Experimental    4458
Name: Source, dtype: int64

## Phospho.ELM 
http://phospho.elm.eu.org/dataset.html

Phospho.ELM version 9.0 contains 8,718 substrate proteins covering 3,370 tyrosine, 31,754 serine and 7,449 threonine instances (including data from high-throughput experiments).

The entries, manually annotated and based on scientific literature, provide information about the phosphorylated proteins and the exact position of known phosphorylated instances, the kinases responsible for the modification and links to bibliographic references. Additional information is also given about structure, interaction partners and sub-cellular compartment and tissue specificities when available.

The data set that we provide you with includes:

- UniPROT/Ensembl accession number
- sequence
- position
- phosphorylated residue
- PubMed Id
- the upstream kinase (when known)
- source (High-ThroughPut/Low-ThroughPut)
- species
- entry date

In [7]:
dfPhosphoELM = pd.read_csv('./Phospho.ELM.txt',encoding = 'ISO-8859-1', header = 0, delimiter = '\t')
display(dfPhosphoELM.head()) #실험데이터

        
dfPhosphoELM.info()

# EPSD ID = UniPort (substrate) 개수
print(f"substrate 개수", dfPhosphoELM.iloc[:,0].value_counts(),sep='\n', end='\n\n') 
# Kinase 개수
print(f"kinase 개수", dfPhosphoELM.iloc[:,3].value_counts(),sep='\n', end='\n\n') 
# Experimental or predicted?
print(f"예측값 or 실험값",dfPhosphoELM.iloc[:,4].value_counts(),sep='\n', end='\n\n')

     EPSD ID UniProt Position     Kinase        Source
0  EP0000453  O08605      S39       PAK2  Experimental
1  EP0000453  O08605      T34       PAK2  Experimental
2  EP0001071  O14543     Y204        Lck  Experimental
3  EP0001071  O14543     Y221        Lck  Experimental
4  EP0001136  O14746     S824  PKB_group  Experimental

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4495 entries, 0 to 4494
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   EPSD ID   4495 non-null   object
 1   UniProt   4495 non-null   object
 2   Position  4495 non-null   object
 3   Kinase    4495 non-null   object
 4   Source    4495 non-null   object
dtypes: object(5)
memory usage: 175.7+ KB
substrate 개수
EP0009497    31
EP0023072    30
EP0006939    29
EP0013515    25
EP0025924    25
             ..
EP0030870     1
EP0006005     1
EP0007290     1
EP0089755     1
EP0015670     1
Name: EPSD ID, Length: 1251, dtype: int64

kinase 개수
PKA_group      297
PKC_group      213
CK2_group      206
PKC_alpha      163
CDK1           159
              ...
NDR1             1
LRRK2            1
MST3             1
SIK              1
LIMK1_drome      1
Name: Kinase, Length: 284, dtype: int64

예측값 or 실험값
Experimental    4495
Name: Source, dtype: int64

## 3. PhosphoNetwork
To accomplish this task, we performed phosphorylation reactions with 289 human kinases on protein microarrays composed of 4,191 unique, full-length human proteins. We identified 3,656 kinase-substrate relationships that are likely to be physiologically relevant. We also determined phosphorylation motifs for 230 kinases and used these data to explore the complexity and diversity of motifs in the various kinase families.

- rawKSR : 24046 in-vitro KSR, identified by ptn microarray
- refKSR : 3656 refined, high-confidence relevant KSR
- comKSR : 744 literature-curated KSR + 3656 refKSR
- high-resolution map of KSR : we connected 230 kinases with 2591 phosphorylation sites on 652 substrate proteins.  (4839개)

In [36]:
HRN = pd.read_csv('./phosphonetworks/highResolutionNetwork.csv',encoding = 'ISO-8859-1', header = 0, delimiter = '\,')
display(HRN)

/home/hb/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

      substrate  P-Site_Sequence Human_P-Site   kinase   score
0           NaN           >ABCA1          NaN      NaN     NaN
1           NaN  SSYGISETTLEEIFL        T1242  CSNK2A1  1.0162
2           NaN  SYGISETTLEEIFLK        T1243  CSNK2A1  1.0455
3           NaN  IDPESRETDLLSGMD        T1305  CSNK2A1  1.0263
4           NaN            >ABI2          NaN      NaN     NaN
...         ...              ...          ...      ...     ...
5064        NaN  QNQNQVRSPGAPGPL         S344     DMPK  1.2348
5065        NaN  QNQNQVRSPGAPGPL         S344   MAPK10  1.3287
5066        NaN  QNQNQVRSPGAPGPL         S344  RPS6KA2  2.7638
5067        NaN  PGAPGPLTLKEVEEL         T352   PRKAA2  2.3538
5068        NaN  PGAPGPLTLKEVEEL         T352     STK4  2.5644

[5069 rows x 5 columns]

In [37]:
HRN['substrate'] = HRN['P-Site_Sequence'].apply(lambda x: x if ">" in x else np.nan)
HRN['substrate'] = HRN['substrate'].fillna(method="ffill")
HRN = HRN.dropna(axis=0)

     substrate  P-Site_Sequence Human_P-Site   kinase   score
1       >ABCA1  SSYGISETTLEEIFL        T1242  CSNK2A1  1.0162
2       >ABCA1  SYGISETTLEEIFLK        T1243  CSNK2A1  1.0455
3       >ABCA1  IDPESRETDLLSGMD        T1305  CSNK2A1  1.0263
5        >ABI2  PPTQKPPSPPMSGKG         S177     CDK5  2.0987
6        >ABI2  PPTQKPPSPPMSGKG         S177    DYRK4  3.5732
...        ...              ...          ...      ...     ...
5064      >ZYX  QNQNQVRSPGAPGPL         S344     DMPK  1.2348
5065      >ZYX  QNQNQVRSPGAPGPL         S344   MAPK10  1.3287
5066      >ZYX  QNQNQVRSPGAPGPL         S344  RPS6KA2  2.7638
5067      >ZYX  PGAPGPLTLKEVEEL         T352   PRKAA2  2.3538
5068      >ZYX  PGAPGPLTLKEVEEL         T352     STK4  2.5644

[4417 rows x 5 columns]

In [38]:
display(HRN.head()) #실험데이터
      
HRN.info()

# EPSD ID = UniPort (substrate) 개수
print(f"substrate 개수", HRN.iloc[:,0].value_counts(),sep='\n', end='\n\n') 
# Kinase 개수
print(f"kinase 개수", HRN.iloc[:,3].value_counts(),sep='\n', end='\n\n') 
# Experimental or predicted?
print(f"P-Site",HRN.iloc[:,2].value_counts(),sep='\n', end='\n\n')

  substrate  P-Site_Sequence Human_P-Site   kinase   score
1    >ABCA1  SSYGISETTLEEIFL        T1242  CSNK2A1  1.0162
2    >ABCA1  SYGISETTLEEIFLK        T1243  CSNK2A1  1.0455
3    >ABCA1  IDPESRETDLLSGMD        T1305  CSNK2A1  1.0263
5     >ABI2  PPTQKPPSPPMSGKG         S177     CDK5  2.0987
6     >ABI2  PPTQKPPSPPMSGKG         S177    DYRK4  3.5732

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4417 entries, 1 to 5068
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   substrate        4417 non-null   object
 1   P-Site_Sequence  4417 non-null   object
 2   Human_P-Site     4417 non-null   object
 3   kinase           4417 non-null   object
 4   score            4417 non-null   float64
dtypes: float64(1), object(4)
memory usage: 207.0+ KB
substrate 개수
>PPP1R13L    232
>ZYX         108
>NFATC4       98
>CTTN         88
>POLR2A       85
            ...
>SERBP1        1
>SF1           1
>SF3B1         1
>SFMBT1        1
>RGS19         1
Name: substrate, Length: 652, dtype: int64

kinase 개수
MAPK1      234
CSNK2A1    230
MAPK3      196
CDK4       182
MAPK8      151
          ...
ACVR1B       1
CDK16        1
EPHB3        1
NIM1         1
TRIB2        1
Name: kinase, Length: 230, dtype: int64

P-Site
S289     24
S302     21
S213     20
S113     19
S120     19
         ..
S528      1
S746      1
S691      1
S682      1
T1242     1
Name: Human_P-Site, Length: 1376, dtype: int64

In [26]:
# i = 0 

# while i < len(HRN):
#     if ">" in HRN.iloc[i,1]:
#         HRN.iloc[i,0] == HRN.iloc[i,i]
#         while  ">" not in HRN.iloc[i+1,1]:
#             HRN.iloc[i+1,0] == HRN.iloc[i,0]
#             i = i+1
#             print(i)

KeyboardInterrupt: